* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
    overflow-x: hidden;
}

.windmill {
    position: absolute;
    left: 50%;
    margin-top: 30px;
    margin-left: -15px;
}


